<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.videosc"
    android:versionCode="5"
    android:versionName="1.1.1" >

    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="22"
                android:maxSdkVersion="25"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Android 7 wants this permission to be declared explicitely -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/icon"
        android:label="VideOSC"
        android:allowBackup="true">

        <activity android:name="net.videosc.VideOSC"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>